## Data manipulation
pandas==1.5.3
numpy==1.24.2

# Data visualization
matplotlib==3.7.1
seaborn==0.12.2

## Statistical and scientific computing
scipy==1.10.1
statsmodels==0.13.2

# Google Drive and Colab
gspread==5.7.0
oauth2client==4.1.3

## SQL connection
sqlite3  # Pre-installed with Python, no version required

# Synthetic data generation
sdv==1.0.0  # Ensure compatibility by checking for the latest stable version

plotly==5.15.0
flask==2.2.3
flake8==6.1.0
black==23.9.1
jupyter==1.0.0
scikit-learn==1.2.2
